.container{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;


    @media screen and (min-width:768px) {
    padding-left: 32px;
    padding-right: 32px;
      
    }

    @media screen and (min-width:1200px) {
    padding-left: 93px;
    padding-right: 93px;

    padding-right: 93px;
       
    }
}

.customer-review-overlay {
    background-image: linear-gradient(
    to bottom, #84A178 10%,transparent 1%),
    url(../images/bg_products_mobile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    @media screen and (min-width:768px) {
        background-image: linear-gradient(
        to bottom, #84A178 10%,transparent 1%),
        url(../images/bg_products_tablet.jpg);
    }

    @media screen and (min-width:1200px) {
        background-image: linear-gradient(
            to bottom, #84A178 10%,transparent 1%),
            url(../images/bg_products_desktop.jpg); 
    }
    
  }

.swiper {
    width: 100%;
    height: 718px;
  }


.swiper {
    width: 100%;
    height: 718px;
  }


.swiper-slide{
    color: black;
}

.slider-icon{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;

    @media screen and (min-width:768px) {
        margin-top: 140px;
    }

    @media screen and (min-width:1200px) {
        margin-top: 140px;
    }
}

.customer-review-text{
    height: 280px;
    width: 100%;

    padding-top: 35px;
    padding-right: 39px;
    padding-bottom: 35px;
    padding-left: 39px;

    margin-top: 32px;
   
    background-color: #84a178;
    border-radius: 10px;

    @media screen and (min-width:768px) {
        height: 138px;
        border-radius: 24px;
    }

    @media screen and (min-width:1200px) {
        height: 138px;
        border-radius: 24px;
    }
}

.customer-review-paragraph{
    text-align: center;

    font-size: 12px;
    line-height: 255%;
    letter-spacing: 0.06em; 
    
    width: 180px;
    margin-right: auto;
    margin-left: auto;

    color: #FCFCFC;

    @media screen and (min-width:768px) {
       width: 545px;

       font-weight: 500;
       font-size: 14px;
       line-height: 186%;

       letter-spacing: 0.04em; 
    }

    @media screen and (min-width:1200px) {
        width: 750px;

        font-weight: 500;
        font-size: 16px;
        line-height: 186%;

        letter-spacing: 0.04em;
       
    }
}

.customer-reviewer{
    display: block;
    text-align: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    margin-top:32px;

    color: #131313;
}

.swiper-pagination {
	margin: 100px 0;

    @media screen and (min-width:768px) {
        margin:170px 0;
    }

    @media screen and (min-width:1200px) {
       
    }
}

.swiper-pagination-bullet {
	padding: 8px;
    margin: 10px !important;
}


.swiper-pagination-bullet-active {
    background-color: #84A178 !important;

}





