<section class="about">
  <div class="about-container">
    <p class="about__label">tradition and love</p>
    <h1 class="about__title">how it’s made?</h1>
    <div class="about-wrap">
      <div class="about-img-wrap">
        <picture>
          <source
            srcset="./images/about.png 1x, ./images/about-2x.png 2x"
            media="(min-width:1200px)"
          />
          <source
            srcset="./images/about-tab.png 1x, ./images/about-tab-2x.png 2x"
            media="(min-width:768px)"
          />
          <source
            srcset="./images/about-mob.png 1x, ./images/about-mob-2x.png 2x"
            media="(max-width:767px)"
          />
          <img
            src="./images/about.png"
            alt="cow"
            width="490"
            class="about__img"
          />
        </picture>
      </div>
      <div class="about-text-wrap">
        <p class="text-about">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="text-about">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="text-about">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button type="button" class="btn-about" data-about-open>
          Read more
          <svg width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
