<section class="about section">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h1 class="about__title">how it’s made?</h1>
    <div class="about-wrap">
      <div class="about-img-wrap">
        <img src="./images/cow3.png" alt="" width="490" class="about__img" />
      </div>
      <div class="about-text-wrap">
        <p class="text-about">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="text-about">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="text-about">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button type="button" class="btn-about" data-menu-open>
          Read more
          <svg width="12" height="12">
            <use href="./images/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
          </svg>
        </button>
        <div class="modal-about is-hidden" data-menu>
          <button type="button" class="modal-about__button" data-menu-close>
            <svg class="modal-about__icon">
              <use href="./images/symbol-defs.svg#icon-eva_menu__close"></use>
            </svg>
          </button>
          <h2 class="about__title modal-about__title">How it’s made?</h2>
          <iframe
            class="modal-about__video"
            src="https://www.youtube.com/embed/GceBGYTkFwQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <p class="modal-about__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
