<section class="benefits">
    <div class="container">
        <div class="advantages">
            <h2 class="visually-hidden">Advantages</h2>
            <ul class="benefits-list">
                <li class="benefits-card">
                    <h3 class="benefits-items cow">721</h3>
                    <p class="benefits-item">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="benefits-card">
                    <h3 class="benefits-items weight">16kg</h3>
                    <p class="benefits-item">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
                <li class="benefits-card">
                    <h3 class="benefits-items ise-crema">84</h3>
                    <p class="benefits-item">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>