

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  

    <section class="customer-review customer-review-overlay ">
        <div class="container">
         
      
        <div сlass="customer-review-image">
            <img src="./images/IceCreamMobile.jpg" alt="IceCreamMobile.jpg" width="100%" height="130px"></div>

        <!-- Slider main container -->
    <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class="slider-icon" src="./images/Emily.jpg" width="100" height="85" alt="Emily">

        <div class="customer-review-text">
            <p class="customer-review-paragraph">I love visiting your cafe.  
                You prepare the most delicious  ice cream in Los Angeles! 
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
        <span class="customer-reviewer">Emily, Los Angeles</span>


      </div>


      <div class="swiper-slide">
        <img class="slider-icon" src="./images/Bryan.jpg" width="100" height="85" alt="Bryan">
        <div class="customer-review-text">
            <p class="customer-review-paragraph">
                Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
            </p>
        </div>
        <span class="customer-reviewer">Emily, Los Angeles</span>


      </div>

      <div class="swiper-slide"> 
        <img class="slider-icon" src="./images/Diana.jpg" width="100" height="85" alt="Diana">
        <div class="customer-review-text">
            <p class="customer-review-paragraph">I love visiting your cafe.  
                You prepare the most delicious  ice cream in Los Angeles! 
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
        <span class="customer-reviewer">Diana, Chicago</span></div>
         </div>

    <div class="swiper-pagination"></div>
       
    </div>
   


    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./script_customer_reviews.js"></script>


