

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  

    <section class="customer-review customer-review-overlay ">
        <div class="container swiper" >
             
    <div class="swiper-wrapper">
      
      <div class="swiper-slide">
        <img class="slider-icon" src="./images/Emily.jpg" width="100" height="85" alt="Emily">

        <div class="customer-review-text">
            <p class="customer-review-paragraph">I love visiting your cafe.  
                You prepare the most delicious  ice cream in Los Angeles! 
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
        <span class="customer-reviewer">Emily, Los Angeles</span>


      </div>


      <div class="swiper-slide">
        <img class="slider-icon" src="./images/Bryan.jpg" width="100" height="85" alt="Bryan">
        <div class="customer-review-text">
            <p class="customer-review-paragraph">
                Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
            </p>
        </div>
        <span class="customer-reviewer">Emily, Los Angeles</span>


      </div>

      <div class="swiper-slide"> 
        <img class="slider-icon" src="./images/Diana.jpg" width="100" height="85" alt="Diana">
        <div class="customer-review-text">
            <p class="customer-review-paragraph">I love visiting your cafe.  
                You prepare the most delicious  ice cream in Los Angeles! 
                In addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
        <span class="customer-reviewer">Diana, Chicago</span></div>
         </div>

	 <div class="swiper-button-prev"></div>
	  <div class="swiper-button-next"></div>

    <div class="swiper-pagination"></div>
       
       </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	
	
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./script_customer_reviews.js"></script>
