<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-tablet">
        <div class="footer-title-container">
           <p class="footer-title">homemade ice cream made</p>
           <p class="footer-title-span">with passion</p>
        </div>
    
    <div class="footer-social-tablet">
      
    <div class="footer-social">
    <ul class="footer-social-list">
        <li class="footer-social-item">
            <a class="footer-social-link" href="#" target="_blank">
            <svg class="footer-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
            </a>
        </li>
        <li class="footer-social-item">
            <a class="footer-social-link" href="https://web.telegram.org" target="_blank">
            <svg class="footer-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
            </a>
        </li>
        <li class="footer-social-item">
            <a class="footer-social-link" href="https://www.facebook.com" target="_blank">
            <svg class="footer-social-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
            </a>
        </li>
    </ul>
    
    </div>
    <div class="footer-contact">
        <p class="footer-contact-text">Feel free to contact</p>
        <a href="tel:+610383766284" class="footer-contact-tel">+61 (0) 383 766 284</a>
    </div>
    </div>

    </div> 
    <div class="footer-border">
        <p class="footer-copyright">&copy 2022 - IceCream.
          <span>All Rights Reserved.</span></p>
    </div>
</footer>