<header>
<div class="header-container container">
    <a href="" class="logo">
        <picture class="logo-img">
            <source srcset="./images/logo-mob.png 1x, ./images/logo-mob_2x.png 2x " media="(min-width:320px)" width="40"
                height="37">
            <source srcset="./images/logo-tab.png 1x, ./images/logo-tab_2x.png 2x " media="(min-width:768px)" width="48"
                height="44">
            <source srcset="./images/logo-desktop.png 1x, ./images/logo-desktop_2x.png 2x " media="(min-width:1200px)"
                width="60" height="65">
            <img src="./images/logo-desktop.png" alt="ice-cream" class="logo-img" width="60">
        </picture>
    </a>

    <button class="mob-menu-open" type="button" data-menu-open>
        <svg class="sandwich-icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-eva_menu_open"></use>
        </svg>
    </button>
    <button class="buy_tablet" type="button" data-modal-productcard-open> 
            Buy now 
            <svg class="buy-icon" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
            </svg>
    </button>


    <nav class="desktop-nav">
        <ul class="desktop-nav-list">
            <li class="desktop-nav-item">
                <a href="#" class="desktop-nav-link">Home</a>
            </li>

            <li class="desktop-nav-item">
                <a href="#about" class="desktop-nav-link">How it’s made?</a>
            </li>

            <li class="desktop-nav-item">
                <a href="#prod" class="desktop-nav-link">Our products</a>
            </li>

            <li class="desktop-nav-item">
                <a href="#cont" class="desktop-nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <button class="buy_desktop" type="button" data-modal-productcard-open>
            Buy now 
            <svg class="buy-icon" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
            </svg>
    </button>

    <div class="mob-menu is-hidden" data-menu>
        <div class="mob-hidden-wrapper">
            <div class="mob-menu-overlay">
                <a href="" class="logo">
                    <picture class="logo-img">
                        <source srcset="./images/logo-mob.png 1x, ./images/logo-mob_2x.png 2x " media="(min-width:320px)" width="40"
                            height="37">
                        <source srcset="./images/logo-tab.png 1x, ./images/logo-tab_2x.png 2x " media="(min-width:768px)" width="48"
                            height="44">
                        <source srcset="./images/logo-desktop.png 1x, ./images/logo-desktop_2x.png 2x " media="(min-width:1200px)"
                            width="60" height="65">
                        <img src="./images/logo-desktop.png" alt="ice-cream" class="logo-img" width="60">
                    </picture>
                </a>

                <button class="mob-menu-close" type="button" data-menu-close>
                    <svg class="cross-icon" width="32" height="32">
                        <use href="./images/symbol-defs.svg#icon-eva_menu__close"></use>
                    </svg>
                </button>


            </div>

            <nav class="mob-nav">
                <ul class="mob-nav-list">
                    <li class="mob-nav-item">
                        <a href="#" class="mob-nav-link">Home</a>
                    </li>

                    <li class="mob-nav-item">
                        <a href="#about" class="mob-nav-link">How it’s made?</a>
                    </li>

                    <li class="mob-nav-item">
                        <a href="#prod" class="mob-nav-link">Our products</a>
                    </li>

                    <li class="mob-nav-item">
                        <a href="#cont" class="mob-nav-link">Contact</a>
                    </li>
                </ul>
            </nav>


            <button class="buy" type="button" data-modal-productcard-open>
                    Buy now 
                    <svg class="buy-icon" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
                    </svg>
            </button>
        </div>

    </div>
</div>
</div>
</header>