<section class="hero">
    <div class="hero-container container">
        <h1 class="hero-title">
            <span class="hero-title-ice">ice cream</span>
            <span class="hero-title-made">made with</span>
            <span class="hero-title-passion">passion</span>
        </h1>

        <div class="hero-interactive-elements">
            <a href="#prod" class="hero-link-products">Products</a>

            <a href="#about" class="hero-link">How it’s made?</a>
        </div>

      
        <p class="hero-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="hero-description-link">
            <svg width="40" height="16">
                <use class="arrow-icon" href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
        </a>
       

        <ul class="hero-achivements">
            <li class="hero-achievements-item">
                <span class="number">16</span>cafes
            </li>
            <li class="hero-achievements-item">
                <span class="number">23</span> food trucks
            </li>
        </ul>

        <picture>
            <source srcset="./images/plate-tab.png 1x, ./images/plate-tab_2x.png 2x " media="(min-width:768px)"
                width="152">
            <source srcset="./images/plate-desktop.png 1x, ./images/plate-desktop_2x.png 2x " media="(min-width:1200px)"
                width="225">
            <img src="./images/plate-desktop.png" alt="a plate" class="plate">
        </picture>


        <picture class="ice-cream-img">
            <source srcset="./images/ice-cream-mobile.png 1x, ./images/ice-cream-mobile_2x.png 2x "
                media="(max-width:767px)" width="177">
            <source srcset="./images/ice-cream-tablet.png 1x, ./images/ice-cream-tablet_2x.png 2x "
                media="(min-width:768px) and (max-width:1199px)" width="268">
            <source srcset="./images/ice-cream-desktop.png 1x, ./images/ice-cream-desktop_2x.png 2x "
                media="(min-width:1200px)" width="456">
            <img src="./images/ice-cream-desktop.png" alt="ice-cream" class="ice-cream" width="456">
        </picture>
        <picture class="dots-img">
            <source srcset="./images/mob-dots.png 1x, ./images/mob-dots_2x.png 2x " media="(max-width:767px)"
                width="100%">
            <source srcset="./images/tablet-dots.png 1x, ./images/tablet-dots_2x.png 2x "
                media="(min-width:768px) and (max-width:1199px)" width="768">
            <source srcset="./images/desktop-dots.png 1x, ./images/desktop-dots_2x.png 2x " media="(min-width:1200px)"
                width="1200">
            <img src="./images/desktop-dots.png" alt="ice-cream" class="ice-cream" width="1200">
        </picture>


    </div>


</section>