
<!--------------MODAL WINDOW FRANCHISE-------------- -->
<div class="overlay is-hidden" data-franchise-modal>

    <div class="modal-fanchise">

        <button type="button" class="modal-fanchise__close" data-franchise-modal-close>
            <svg class="modal-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-eva_menu__close">
                </use>
            </svg>
        </button>
  
        <!-- -------MODAL FORM INSIDE------------ -->

        <form class="modal-form">
            <span class="modal-fanchise__title"> Thank you for your interest in owning an Ice Cream shop </span>
            <p class="modal-fanchise__paragraph">Due to the overwhelming volume of franchise requests we are not
                accepting new franchisee applications at this time. Once
                the application process resumes, we will contact you for further information. Please fill out the
                contact information
                below and we will reach out for additional information. We appreciate your patience.</p>

            <ul class="form-list">
                <li class="modal-fanchise__list">

                    <label for="name" class="modal-fanchise__label">
                        <input type="text" name="name" id="name" class="modal-fanchise__input" placeholder="Name">
                        </input>
                    </label>
                </li>

                <li class="modal-fanchise__list">
                    <label for="name" class="modal-fanchise__label">
                        <input type="text" name="name" id="name" class="modal-fanchise__input" placeholder="Phone">
                        </input>
                    </label>
                </li>
                <li class="modal-fanchise__list">
                    <label for="name" class="modal-fanchise__label">
                        <input type="text" name="name" id="name" class="modal-fanchise__input" placeholder="Email">
                        </input>
                    </label>
                </li>
            </ul>

            <div>
                <label for="comment">
                    <textarea class="modal-fanchise__textarea " name="comment" id="comment" style="resize: none;"
                        placeholder="Comment"></textarea>
                </label>
            </div>

            <button type="submit" class="modal-fanchise__button"> Submit </button>

        </form>
    </div>
</div>