    <div class="backdrop is-hidden">
        <div class="modal">
            <button type="button" class="modal-close" data-modal-close>
                <svg class="modal-close-icon" width="20" height="20">
                    <use 
                        href="./images/symbol-defs.svg#icon-eva_menu__close">
                    </use>
                </svg>
            </button>
            <p class="modal-title">Buy now</p>
            <ul class="product-list list">
                <li class="product-item">
                    <p class="product-name icon-ice">ice cream</p>
                    <!--<button type="button" class="product__btn" data-modal-open>
                        <svg width="40" height="16">
                            <use class="product__icon" href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </button> -->
                </li>
                <!--<li class="product__item product__item--coffee">
                    <h3 class="product__name product__name--coffee">ice coffee</h3>
                    
                    <button type="button" class="product__btn" data-modal-open>
                        <svg width="40" height="16">
                            <use class="product__icon" href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
                <li class="product__item product__item--shake">
                    <h3 class="product__name product__name--shake">milkshakes</h3>
                   
                    <button type="button" class="product__btn" data-modal-open>
                        <svg width="40" height="16">
                            <use class="product__icon" href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
    
            
        </div>
    
    </div>
   