
<!--------------MODAL LOCATION-------------- -->
<div class="overlay is-hidden" data-location-modal>
    <div class="modal-location">
        <button type="button" class="modal-location__close" data-location-modal-close>
            <svg class="modal-icon" width="20" height="20">
                <use href="./images/symbol-defs.svg#icon-eva_menu__close">
                </use>
            </svg>
        </button>


        <!-- -------MODAL LOCATION INSIDE------------ -->

    <div class="modal-location__form">
         <h2 class="modal-location__title"> Our Locations</h2>

            <a href="https://goo.gl/maps/KAuYvMLk4ZP1ypBAA" target="_blank" rel="noopener nofollow noreferrer">

                 <picture>                      
                            <source srcset="./images/map-tablet.jpg, ./images/location-tablet2X.jpg " media="(min-width: 768px)" />
                            <source srcset="./images/map-mobile.jpg, ./images/location-mobile2X.jpg" media="(max-width: 767px)" />
                        
                            <img class="modal-location__image" src="./images/map-mobile.jpg" alt="Poltava map" width="448" />
                        
                </picture>
<!--  <img class="modal-location__image" src="./images/box1.jpg" alt="Poltava map" width="224" /> -->
            </a>

            <button class="modal-location__button" type="button"
                onclick="window.location.href='https://goo.gl/maps/KAuYvMLk4ZP1ypBAA';">
                Open Map
            </button>

        </div>
    </div>
    <!-- <script src="./modal_ourlocation_contacts.js">
    </script> -->

    </body>
    </html>





  
                   <!-- -- -------MODAL FORM INSIDE------------
                        
                    
    <a href="Poltava - Google Maps" target="_blank" rel="noopener nofollow noreferrer"><img src="./images/map-mobile.jpg" alt="Poltava map" width="224" /></a> -->
     
  <!-- <a href="#" target="_blank" rel="noopener nofollow noreferrer"><img src="./images/box1.jpg" alt="Розробка сайтів. "
                                            width="448" /></a>  --> 








