<div class="backdrop is-hidden" data-modal-ingredients>
    <div class="modal-ingredients">
        <button type="button" class="modal-ingredients-close" data-modal-ingredients-close>
            <svg class="modal-close-icon" weight="13" height="13">
                <use href="./images/symbol-defs.svg#icon-eva_menu__close"></use>
            </svg>
        </button>

        <p class="modal-ingredients-title">Chololate icecream</p>

        <div class="modal-ingredients-image">
            <img class="ingredients-image" src="./images/modal_ingredients/chololate_icecream.png" alt="Chololate icecream" width="132">
        </div>
        
        <ul class="modal-ingredients-list">
            <li class="modal-ingredients-item">
                <p class="modal-ingredients-dimension">kcal</p>
                <div class="modal-ingredients-color-wrap">
                    <p class="modal-ingredients-value">320</p>
                </div>
            </li>
            <li class="modal-ingredients-item">
                <p class="modal-ingredients-dimension">Prote...</p>
                <div class="modal-ingredients-color-wrap">
                    <p class="modal-ingredients-value">4g</p>
                </div>
            </li>
            <li class="modal-ingredients-item">
                <p class="modal-ingredients-dimension">Fats</p>
                <div class="modal-ingredients-color-wrap">
                    <p class="modal-ingredients-value">8,2g</p>
                </div>
            </li>
            <li class="modal-ingredients-item">
                <p class="modal-ingredients-dimension">Carbs</p>
                <div class="modal-ingredients-color-wrap">
                    <p class="modal-ingredients-value">40,4g</p>
                </div>
            </li>
        </ul>

        <p class="modal-ingredients-title-text">Ingredients</p>
        <ul class="modal-ingredients-components-list">
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Milk
                    <span>100ml</span></p>
            </li>
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Belgian chocolate 
                    <span>20g</span></p>
            </li>
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Cream
                    <span>150ml</span></p>
            </li>
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Cocoa powder
                    <span>30g</span></p>
            </li>
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Sugar
                    <span>40g</span></p>
            </li>
            <li class="modal-ingredients-components-item">
                <p class="modal-ingredients-components-text">Vanilla sugar
                    <span>10g</span></p>
            </li>
        </ul>
       
        <form action="#" class="modal-ingredients-form">
            <input type="text" class="modal-ingredients-input" name="user-name" id="user-name" placeholder="Name" required>
            <input type="text" class="modal-ingredients-input" name="user-tel" id="user-tel" placeholder="Phone" required>
            <textarea name="comment" id="user-comment" placeholder="Comment"
                class="modal-ingredients-comment"></textarea>
            <button type="submit" class="modal-ingredients-button">Submit</button>
        </form>
    </div>
</div>