<div class="modal-about is-hidden" data-about>
  <button type="button" class="modal-about__button" data-about-close>
    <svg class="modal-about__icon">
      <use href="./images/symbol-defs.svg#icon-eva_menu__close"></use>
    </svg>
  </button>
  <h2 class="about__title modal-about__title">How it’s made?</h2>
  <iframe
    class="modal-about__video"
    src="https://www.youtube.com/embed/GceBGYTkFwQ"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="modal-about__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
